<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.howard.projects.newtalkreader"
    android:versionCode="7"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7" />
    
    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:name=".app.NewTalkApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <provider
            android:authorities="com.howard.projects.newtalkreader"
            android:name=".content.RssProvider" />
        <activity
            android:name=".ui.NewTalkChannelActivity"
            android:label="@string/title_activity_new_talk_channel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ItemDetailActivity"
            android:label="@string/title_activity_new_talk_channel">
        </activity>
        <activity
            android:name=".ui.ChannelSelectionActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/title_activity_new_talk_channel_selection">
        </activity>
        <activity
            android:name=".ui.HtmlDialogActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/menu_author">
        </activity>
    </application>

</manifest>